Repository victorandujar/solar-panels: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Modify default colours for groups at SolarPlant
  HABILITACION_FUNCIONALIDADES.md
  ZUSTAND_IMPLEMENTATION.md
  src/app/components/SolarPlant/SolarPlant.tsx
  src/store/useStore.ts
Due: eslint, prettier --write

Modify positioning for controls compos at SolarPlant
  src/app/components/GroupSelector/GroupSelector.tsx
  src/app/components/QuickControls/QuickControls.tsx
  src/app/components/SolarPlant/SolarPlant.tsx
Due: prettier --write

Modify height for GroupSelector
  src/app/components/GroupSelector/GroupSelector.tsx
Due: prettier --write

Modify dialogs styles
  package-lock.json
  package.json
  src/app/components/ConfirmDialog/ConfirmDialog.tsx
  src/app/components/NotificationDialog/NotificationDialog.tsx
Due: prettier --write

Refactor SolarPlant
  src/app/components/DynamicControls/DynamicControls.tsx
  src/app/components/DynamicControls/index.ts
  src/app/components/SolarPanel/SolarPanel.tsx
  src/app/components/SolarPanel/index.ts
  src/app/components/SolarPlant/SolarPlant.tsx
  src/app/components/SolarPlantScene/SolarPlantScene.tsx
  src/app/components/SolarPlantScene/index.ts
  src/app/components/Terrain/Terrain.tsx
  src/app/components/Terrain/index.ts
  src/app/types/solar-types.ts
Due: eslint, prettier --write

Add edit layout blocking camera, zoom & panel click
  src/app/components/DynamicControls/DynamicControls.tsx
  src/app/components/SolarPlant/SolarPlant.tsx
  src/app/components/SolarPlantScene/SolarPlantScene.tsx
  src/app/context/SceneContext.tsx
  src/app/helpers/renderer.ts
  src/app/hooks/useRegisterScene.ts
Due: eslint, prettier --write

Add functionality to move solar panels at main layout
  package-lock.json
  package.json
  src/app/components/SolarPanel/SolarPanel.tsx
  src/app/components/SolarPlant/SolarPlant.tsx
  src/app/components/SolarPlantScene/SolarPlantScene.tsx
  src/app/hooks/useSolarPanel.ts
  src/store/useStore.ts
Due: eslint, prettier --write

Add fence to solar plant
  src/app/components/Fence/Fence.tsx
  src/app/components/Fence/index.ts
  src/app/components/SolarPlantScene/SolarPlantScene.tsx
  src/app/components/Terrain/Terrain.tsx
Due: eslint, prettier --write

Add fence limitation for drag & drop solar panels
  src/app/hooks/useSolarPanel.ts
Due: eslint, prettier --write

Add delete & add panel functionality
  src/app/components/SolarPanel/SolarPanel.tsx
  src/app/components/SolarPlant/SolarPlant.tsx
  src/app/components/SolarPlantScene/SolarPlantScene.tsx
  src/app/hooks/useSolarPanel.ts
  src/app/hooks/useSolarPlant.ts
  src/store/useStore.ts
Due: eslint, prettier --write

Refactor SolarPlant
  src/app/components/SolarPlant/SolarPlant.tsx
  src/app/hooks/useSolarPlant.ts
Due: eslint, prettier --write

Modiy styles from page & compos to glass futurist
  src/app/components/ConfirmDialog/ConfirmDialog.tsx
  src/app/components/EnergyBackground/EnergyBackground.tsx
  src/app/components/GroupSelector/GroupSelector.tsx
  src/app/components/NotificationDialog/NotificationDialog.tsx
  src/app/components/PanelStats/PanelStats.tsx
  src/app/components/QuickControls/QuickControls.tsx
  src/app/components/SolarPanelDetail/SolarPanelDetail.tsx
  src/app/components/SolarPlant/SolarPlant.tsx
  src/app/globals.css
Due: prettier --write

Add new functionality for group detail display & controls
  package-lock.json
  package.json
  src/app/[locale]/group/[group_name]/page.tsx
  src/app/components/Fence/Fence.tsx
  src/app/components/GroupControls/GroupControls.tsx
  src/app/components/GroupDetail3D/GroupDetail3D.tsx
  src/app/components/GroupManagement/GroupManagement.tsx
  src/app/components/GroupScene/GroupScene.tsx
  src/app/components/GroupScene/index.ts
  src/app/components/GroupSelector/GroupSelector.tsx
  src/app/components/SolarPlant/SolarPlant.tsx
  src/app/globals.css
  src/app/hooks/useGroupDetail.ts
  src/app/hooks/useRegisterScene.ts
  src/app/hooks/useSolarPlant.ts
Due: eslint, prettier --write

Add styles for md screens at solar plant
  src/app/components/GroupSelector/GroupSelector.tsx
  src/app/components/PanelStats/PanelStats.tsx
  src/app/components/QuickControls/QuickControls.tsx
  src/app/components/SolarPlant/SolarPlant.tsx
  src/app/globals.css
Due: prettier --write

Modify layout for group detail for md screens
  src/app/[locale]/group/[group_name]/page.tsx
  src/app/components/GroupControls/GroupControls.tsx
Due: prettier --write

Add SideBar, Loader, & Header
  package-lock.json
  package.json
  src/app/[locale]/group/[group_name]/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/loading.tsx
  src/app/[locale]/page.tsx
  src/app/components/BurgerMenu/BurgerMenu.tsx
  src/app/components/GroupSelector/GroupSelector.tsx
  src/app/components/Header/Header.tsx
  src/app/components/Layout/Layout.tsx
  src/app/components/Loader/Loader.tsx
  src/app/components/SideBar/SideBar.tsx
  src/app/components/SolarPlant/SolarPlant.tsx
  src/app/globals.css
  src/app/types/sharedInterfaces.ts
  src/app/utils/headerSections.ts
  src/app/utils/routes.ts
Due: eslint, prettier --write

Add first render for pvcivil view
  .gitattributes
  src/app/[locale]/pv-civil/page.tsx
  src/app/[locale]/pvcivil/page.tsx
  src/app/api/terrain-data/route.ts
  src/app/components/DigitalTerrain/DigitalTerrain.tsx
  src/app/components/FilamentMesh/FilamentMesh.tsx
  src/app/components/Header/Header.tsx
  src/app/components/Layout/Layout.tsx
  src/app/components/SideBar/SideBar.tsx
  src/app/components/TerrainPvCivil/TerrainPvCivilV2.tsx
  src/app/components/TerrainPvCivil/index.ts
  src/app/components/TerrainPvCivilLayout/TerrainPvCivilLayout.tsx
  src/app/components/TerrainPvCivilLayout/index.ts
  src/app/hooks/useTerrainPvCivil.ts
  src/app/utils/routes.ts
  src/utils/TINSurface_original.txt
Due: eslint, prettier --write

Divide terrain data in chunks
  .gitattributes
  src/app/api/terrain-data/route.ts
  src/utils/TINSurface_original.txt
  src/utils/terrain-chunks/chunk_aa
  src/utils/terrain-chunks/chunk_ab
  src/utils/terrain-chunks/chunk_ac
  src/utils/terrain-chunks/chunk_ad
  src/utils/terrain-chunks/chunk_ae
  src/utils/terrain-chunks/chunk_af
  src/utils/terrain-chunks/chunk_ag
  src/utils/terrain-chunks/chunk_ah
  src/utils/terrain-chunks/chunk_ai
  src/utils/terrain-chunks/chunk_aj
  src/utils/terrain-chunks/chunk_ak
  src/utils/terrain-chunks/chunk_al
  src/utils/terrain-chunks/chunk_am
  src/utils/terrain-chunks/chunk_an
  src/utils/terrain-chunks/chunk_ao
  src/utils/terrain-chunks/chunk_ap
  src/utils/terrain-chunks/chunk_aq
  src/utils/terrain-chunks/chunk_ar
  src/utils/terrain-chunks/chunk_as
  src/utils/terrain-chunks/chunk_at
  src/utils/terrain-chunks/chunk_au
  src/utils/terrain-chunks/chunk_av
  src/utils/terrain-chunks/chunk_aw
  src/utils/terrain-chunks/chunk_ax
  src/utils/terrain-chunks/chunk_ay
  src/utils/terrain-chunks/chunk_az
  src/utils/terrain-chunks/chunk_ba
  src/utils/terrain-chunks/chunk_bb
  src/utils/terrain-chunks/chunk_bc
  src/utils/terrain-chunks/chunk_bd
  src/utils/terrain-chunks/chunk_be
Due: eslint, prettier --write

Fix LFS configuration for terrain chunks - exclude from LFS tracking
  .gitattributes
  src/utils/terrain-chunks/chunk_aa
  src/utils/terrain-chunks/chunk_ab
  src/utils/terrain-chunks/chunk_ac
  src/utils/terrain-chunks/chunk_ad
  src/utils/terrain-chunks/chunk_ae
  src/utils/terrain-chunks/chunk_af
  src/utils/terrain-chunks/chunk_ag
  src/utils/terrain-chunks/chunk_ah
  src/utils/terrain-chunks/chunk_ai
  src/utils/terrain-chunks/chunk_aj
  src/utils/terrain-chunks/chunk_ak
  src/utils/terrain-chunks/chunk_al
  src/utils/terrain-chunks/chunk_am
  src/utils/terrain-chunks/chunk_an
  src/utils/terrain-chunks/chunk_ao
  src/utils/terrain-chunks/chunk_ap
  src/utils/terrain-chunks/chunk_aq
  src/utils/terrain-chunks/chunk_ar
  src/utils/terrain-chunks/chunk_as
  src/utils/terrain-chunks/chunk_at
  src/utils/terrain-chunks/chunk_au
  src/utils/terrain-chunks/chunk_av
  src/utils/terrain-chunks/chunk_aw
  src/utils/terrain-chunks/chunk_ax
  src/utils/terrain-chunks/chunk_ay
  src/utils/terrain-chunks/chunk_az
  src/utils/terrain-chunks/chunk_ba
  src/utils/terrain-chunks/chunk_bb
  src/utils/terrain-chunks/chunk_bc
  src/utils/terrain-chunks/chunk_bd
  src/utils/terrain-chunks/chunk_be
Due: none

Add corridors generator to layout
  src/app/components/GroupControls/GroupControls.tsx
  src/app/components/SolarPanel/SolarPanel.tsx
  src/app/components/SolarPlant/SolarPlant.tsx
  src/app/components/SolarPlantScene/SolarPlantScene.tsx
  src/app/components/TerrainWithCorridors/TerrainWithCorridors.tsx
  src/app/components/TerrainWithCorridors/index.ts
  src/app/components/Trench/Trench.tsx
  src/app/components/Trench/index.ts
  src/app/components/Vial/Vial.tsx
  src/app/components/Vial/index.ts
  src/app/components/VialManager/VialManagerSimple.tsx
  src/store/useStore.ts
Due: eslint, prettier --write

Add functionality to move objets accurately
  src/app/components/DynamicControls/DynamicControls.tsx
  src/app/components/QuickControls/QuickControls.tsx
  src/app/components/SnapGrid/SnapGrid.tsx
  src/app/components/SnapGrid/index.ts
  src/app/components/SolarPanelWithTransform/SolarPanelWithTransform.tsx
  src/app/components/SolarPanelWithTransform/index.ts
  src/app/components/SolarPlant/SolarPlant.tsx
  src/app/components/SolarPlantScene/SolarPlantScene.tsx
  src/app/hooks/useSolarPanel.ts
  src/store/useStore.ts
Due: eslint, prettier --write

Add solar panels movement precision
  README.md
  package-lock.json
  src/app/components/AdaptiveOrthographicCamera/AdaptiveOrthographicCamera.tsx
  src/app/components/AdaptiveOrthographicCamera/index.ts
  src/app/components/DynamicControls/DynamicControls.tsx
  src/app/components/SnapGrid/SnapGrid.tsx
  src/app/components/SolarPanelWithTransform/SolarPanelWithTransform.tsx
  src/app/components/SolarPanelWithTransform/index.ts
  src/app/components/SolarPlant/SolarPlant.tsx
  src/app/components/SolarPlantScene/SolarPlantScene.tsx
  src/app/hooks/useSolarPanel.ts
  src/app/types/solar-types.ts
  src/store/useStore.ts
Due: eslint, prettier --write

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx }
  prettier --write: any of: *.{ js,ts,css,json,md,tsx}
